
<div class="container">
    <div class="jumbotron jumbotron-fluid">
        <h1 class="display-4 text-center">Local Events in Your Area</h1>
    </div>
    <div class="row">
      <div class="col-md-12 event-container">
      </div>
    </div>
</div>

<script src="../public/js/events.js" type="text/javascript"></script>