.list-group-item {
  line-height: 2.5;
}
.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  /* min-width: 100%;
  min-height: 100%; */
  width: auto;
  height: auto;
  pointer-events: none;
}